<h3>Server Name</h3>
<!-- <input type="text" class="form-control"
  (input)="onUpdateServerName($event)"
> -->
<input type="text" class="form-control"
  [(ngModel)]="serverCreationName"
>
<p>{{ serverCreationName }}</p>
<hr>
<label for="username">Username</label>
<input type="text" placeholder="Username" class="form-control" 
  [(ngModel)]="username"
>
<p>Username: {{ username }}</p>
<button class="btn btn-primary"
  [disabled]="usernameIsEmpty()" 
  (click)="onSave()"
>
  Save
</button>
<hr>
<button class="btn btn-primary"
  [disabled]="!allowNewServer"
  (click)="onCreateServer()"
>
  Add New Server
</button>
<p *ngIf="serverCreated; else noServer">New Server was created: {{ serverCreationName }}</p>
<ng-template #noServer>
  <p>No Sever created</p>
</ng-template>
<hr>
<app-server *ngFor="let server of servers"></app-server>
<app-logs></app-logs>