<div class="container">
  <div class="row">
    <div class="col-xl-12">
      <h3>I'm the AppComponent!</h3>
      <app-servers></app-servers>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm">
      <app-warning-alert></app-warning-alert>
    </div>
    <div class="col-sm">
      <app-success-alert></app-success-alert>
    </div>
  </div>
</div>