<hr>
<h3>LOGS</h3>
<p *ngIf="showDetails">Secret Password = tuna</p>
<button class="btn btn-primary"
  (click)="displayDetails()"
>
Display Details</button>
<br/>
<br/>
<ul *ngFor="let number of logList | keyvalue">
  <li [ngStyle]="{ backgroundColor: setBackground(number.key) }"
    [ngClass]="{white: setColor(number.key)}"> {{ number.value }}
  </li>
</ul>
<hr>